header {
  background-image: url(../images/anh1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vw;
  position: relative;
}

header .logo {
  background-color: #ffd700;
  border-style: solid;
  height: auto;
  margin-top: 15px;
}

header .logo p {
  font-weight: bolder;
  font-size: 3vw;
  padding-right: 5px;
  color: white;
  float: right;
}

header ul li {
  font-size: 1.8vw;
}

header .slider {
  width: 100%;
  height: 18vw;
  color: azure;
  background-color: #ffd700;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

header .slider .text {
  font-size: 7vw;
  list-style-type: none;
}

header ul {
  margin-top: 15px;
  padding: 0;
  text-align: center;
}

header ul li {
  display: inline-block;
  padding: 15px 20px;
}

header ul li a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.advan {
  padding: 50px 0;
  background-color: black;
  width: 100%;
  height: 40vw;
}

.advan .images-2 {
  position: absolute;
  right: 0px;
}

.advan .title {
  position: relative;
  color: white;
  padding-left: 3vw;
  height: 6vw;
}

.advan .title .unit-what {
  border-style: none;
  background-color: #ffd700;
  width: 50vw;
  height: 12vw;
  overflow: visible;
}

.advan .title .text-2 {
  margin-top: -2vh;
  letter-spacing: 2px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 3.5vw;
}

.advan .title .text-padding {
  padding: 5vh 0;
}

.services {
  padding: 50px 0;
}

.services .font_size {
  font-size: 30px;
  color: #ffd700;
}

.pizzaria {
  background-image: url(../images/anh3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vw;
}

.pizzaria .text-menu {
  font-size: 3vw;
  text-align: center;
}

.pizzaria .border-size {
  padding: 100px 0px 100px 100px;
  height: 35vw;
}

.pizzaria .border-size .text {
  font-size: 2vw;
}

.about {
  margin: 0 auto;
  width: 100%;
  height: 20vw;
}

.about .text {
  padding-top: 3vw;
  text-align: center;
  font-size: 2vw;
}

.about .text span {
  font-weight: bolder;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about ul li {
  float: left;
  font-size: 1.5vw;
  margin-left: 2vw;
  color: white;
}

.images-3 {
  background-image: url(../images/anh4.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vw;
}

.images-3 .text-master {
  padding-left: 50px;
  font-size: 25px;
}

.fortfolio {
  width: 100%;
  height: 48vw;
}

.fortfolio .unit {
  border-style: nones;
  position: absolute;
  width: 15vw;
  height: 48vw;
  margin-left: 20vw;
}

.fortfolio .text-gallery {
  font-size: 3vw;
  font-weight: bolder;
  margin-top: 120px;
  margin-left: 2vw;
}

.fortfolio ul {
  width: 100%;
  margin-bottom: 0.5vw;
  position: absolute;
}

.fortfolio ul li {
  text-decoration: none;
  float: left;
  height: 33vw;
}

.contact {
  position: relative;
  width: 100%;
  height: 35vw;
  background-color: #696969;
}

.contact .unit {
  margin-top: 0vw;
  border-style: none;
  position: absolute;
  width: 15vw;
  height: 35vw;
  margin-left: 20vw;
}

.contact i {
  color: white;
  font-size: 3vw;
}

.contact .text-contact {
  position: relative;
  padding: 4vw 0;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}

.contact .text-pizza {
  font-size: 1.25vw;
  float: right;
  position: relative;
  line-height: 3vw;
}

.contact .text-link {
  font-size: 2.25vw;
  font-weight: bolder;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */